.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: aliceblue;
  min-height: 100vh;
}

.colorPicker {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.addMovie {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 20%;
  background-color: white;
}

form label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-bottom: 10px;
}

button {
  width: 60%;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  height: 40px;
  font-weight: bolder;
}

button:hover {
  background-color: black;
  color: white;
  border: none;
}

.movie {
  width: 20vw;
  height: 30vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
}

input {
  margin-left: 10px;
  height: 20px;
  border-radius: 5px;
}

.movieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}